body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    font-family: 'Manrope';
    font-weight: 800;
    overflow: hidden;
    display: flex;
    justify-content: left;
    gap: 50px;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
nav a:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

nav a, .logo {
        padding: 14px 16px;
}

.logo {
    height: 20px;
    margin-left: 20px;
}


/* Shoe with Blue Background */

.half-circle {
    margin: 0;
    background-color: rgb(131, 159, 183);
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    border-radius: 50% 0 0 50%;
    z-index: -1;
}

.jordan {
    height: 55%;
    rotate: -35deg;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 300px;
    top: 200px;
}

/* Headline CSS */

.big-headline {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 50px;
}

.shoe-name {
    font-family: 'Kodchasan', sans-serif;
    color: #47779D;
    font-size: 30px;
}

.headline {
    padding: 5px;
    text-align: left;
}

/* Margin for Headline and Product Text */

.headline, .product-text {
    margin: 10px 10px 10px 150px;
}


/*Product Details CSS*/

.product-text {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    text-align: left;
}


/* Add to Cart Button CSS */

.lower-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-to-cart, .favorite {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 20px 10px 10px 50px;
    width: 450px;
    height: 50px;
    text-align: center;
}

.price {
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 10px 10px 10px 200px;
    padding: 5px;
    text-align: left;
}

/* Button Hover*/

.add-to-cart:hover, .favorite:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* Main section margin-top adjustment */

.main {
    margin-top: 100px;
}

/* Alert Box CSS */

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.596);
    color: black;
    padding: 80px 60px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.alert button {
    margin-top: 15px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background: #ebebeb;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

.alert button:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.hidden {
    display: none;
}